:root {
    --gray-100: #f2f2f2;
    --gray-300: #d1d1d1;
    --gray-600: #6c757d;
    --blue-strong: #0D4096;
    --black-main: #000000;
}

body {
    background-color: var(--gray-100);
}

h1{
    color: #000000;
}