:root {
    --gray-100: #f2f2f2;
    --gray-300: #d1d1d1;
    --gray-600: #6c757d;
    --blue-strong: #0D4096;
    --black-main: #000000;
}

*{
    font-size: 16px;
}

body {
    background-color: var(--gray-100);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: .5rem 1rem;
    background-color: var(--blue-strong);
    z-index: 1000;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 32px;
}

.brand {
    font-size: 1.75rem;
    font-weight: 600;
    color: var(--gray-100);
}

.nav-list {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-list a {
    text-decoration: none;
    color: var(--gray-100);
    font-size: 1rem;
}


main {
    margin-top: 80px; 
}

h1{
    text-align: center;
    color: #000000;
}