{% extends "base.html" %}
{% load static %}

{% block title %}One Page{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row g-4 px-4 py-2" id="cards-container"></div>
        <div id="loading-indicator" class="text-center py-4" style="display: none;">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Cargando...</span>
            </div>
            <p class="mt-2 text-muted">Cargando más contenido...</p>
        </div>
        <div id="end-message" class="text-center py-4" style="display: none;">
            <p class="text-muted">Ya ha visto todos los productos</p>
        </div>
    </div>

    <script>
        
        window.staticImages = [
            "{% static 'img/Adomination.jpg' %}",
            "{% static 'img/AdoPeluche.webp' %}",
            "{% static 'img/AboPeluche.webp' %}",
            "{% static 'img/AdoHibana.webp' %}",
            "{% static 'img/UtaPoster.jpg' %}",
            "{% static 'img/AdoPP.webp' %}",
            "{% static 'img/AdoSweater.webp' %}",
            "{% static 'img/AdoJacket.webp' %}",
            "{% static 'img/AdoBum.webp' %}",
            "{% static 'img/AdoKyougen.webp' %}"
        ];
    </script>
    
    <script src="{% static 'js/onePage.js' %}"></script>
{% endblock %}