{% extends "base.html" %}
{% load static %}

{% block title %}404 | Página no encontrada{% endblock %}

{% block content %}
<div class="container text-center">
    <!--<img src="{% static 'img/example.jpg' %}" alt="">-->
    <h1 class="display-1 fw-bold mb-3">404</h1>

    <h2 class="mb-3">
        Ups… esta página no existe
    </h2>

    <p class="lead mb-4">
        La página que intentas visitar no se encuentra disponible
        o pudo haber sido movida.
    </p>

    <div class="my-4">
        <img
            src="https://i.pinimg.com/736x/2a/56/d0/2a56d052ad122c0612c0208388c1df2b.jpg"
            alt="Página no encontrada"
            class="img-fluid"
            style="max-width: 300px;"
        >
    </div>

    <div class="d-flex justify-content-center gap-3 mt-4">
        <a href="{% url 'index' %}"
           class="btn btn-primary px-4"
           style="background-color: var(--blue-strong); border: none;">
            Ir al inicio
        </a>

    </div>

</div>
{% endblock %}
