{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Páginas de error{% endblock %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <header>
    <div class="container-fluid h-100">
        <div class="row h-100 align-items-center px-4">

            <div class="col-auto header-left">
                <span class="brand">AdoStore</span>

                <nav>
                    <ul class="nav-list">
                        <li><a href="{% url 'index' %}">Inicio</a></li>
                        <li><a href="{% url 'onePage' %}">Detalles</a></li>
                        <li><a href="{% url 'cvIsaacO' %}">Contacto</a></li>
                        <li><a href="{%url 'errores' %}">Errores</a></li>
                        <li><a href="{%url 'obtener-reportes' %}">Reportes</a></li>
                    </ul>
                </nav>
            </div>

            </div>
        </div>
    </header>



    <main class="container-fluid">
        <div class="row col-12 margin-20">
            {% block content %}
            {% endblock %}
        </div>
    </main>

</body>

</html>