{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Páginas de error{% endblock %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="container-fluid justify-content-center align-items-center">

    <header class="container-fluid row">
        <nav>

            <div>
                <a href="#">Ado store</a>
            </div>

            <ul>
                <li>
                    <a href="#">Hola</a>
                    <a href="#">Hola</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="row col-12 margin-20">
        {% block content %}
        {% endblock %}
    </div>

</body>

</html>